.main {
  width: 15rem;
  height: 94vh;
  background-color: #1c2536;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  padding-top: 4rem;
  margin-right: 2rem;
  margin-left: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 2rem;
  z-index: 2;
}

.main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.admin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.admin p {
  color: #cdd0d6;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-wrap: nowrap;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.sections p {
  color: #787f8c;
  font-family: Inter;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  cursor: pointer;
}

.active {
  color: #4d4c98;
}

/* for mobile */
@media (max-width: 480px) {
  .main {
    width: 45vw;
    height: 100%;
    margin-top: 3rem;
  }
  
  .admin {
    width: 15vw;
    height: 15vh;
    gap: 0.2rem;
  }

  .admin img{
    width: 35px;
    height: 35px;
    border-radius: 50px;
  }
  
  .admin p {
    font-size: 8px;
  }
  
  .sections {
    margin-top: -10vh;
    gap: 3rem;
  }

  .sections p {
    font-size: 0.4rem;
  }
  
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .main {
    width: 23%;
    height: 100%;
    margin-left: 2rem;
  }
  
  .admin {
    width: 15vw;
    height: 15vh;
  }
  
  .admin p {
    font-size: 11px;
  }
  
  .sections {
    margin-top: -10vh;
    gap: 3rem;
  }
  
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  
}
