.leftDiv {
  width: 20vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightDiv {
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.main {
  display: flex;
}

.nav {
  width: 83%;
  height: 95%;
  background-color: #1c2536;
  border-radius: 10px;
}

.content {
  width: 97%;
  height: 70.5%;
  background-color: #1c2536;
  border-radius: 20px;
}

.frame {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.contentHeader > :nth-child(1) {
  color: #cdd0d6;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.contentHeader > :nth-child(2) {
  color: #6c9f96;
  font-family: Inter;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.contentHeader{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: .6rem;
}

/* for mobile */
@media (max-width: 480px) {
  
}